[DEFAULT]
domain=

[mail]
host=localhost

[standalone_http]
host=
port=

[base]
databasedir=%(homedir)s/db
templatedir=%(homedir)s/html

log=%(homedir)s/roundup.log

filter_position=bottom
anonymous_access=deny
anonymous_register=deny
messages_to_author=no
email_signature_position=bottom
